@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap');
body{
    box-sizing: content-box;
    background-color:#5B6C56;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.banner{
    margin: 1rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 2rem;
    border-bottom: 2px solid white;
}

.banner-butt{
    background-color: transparent;
    border: none;
}
.banner-butt:hover{

    color: white;
}

.logo{
    height: 5rem;
    width: 5rem;
}
.center{
    display: inline-block;
    text-align: center;
}

.tittle{
    border-bottom: 2px solid white;
    font-size: 3rem;
    text-align: center;
    margin: -0.5rem 2rem 0rem 2rem;
}

.strain-quality{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
}
